@using RazorApplication.Models
@model Product[]

@{
    ViewBag.Title = "DemoArray";
    Layout = "~/Views/BasicLayout.cshtml";
}

<html>
@if (Model.Length > 0)
{
    <table>
        <thead><tr><th>Product</th><th>Price</th></tr></thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>$@p.price</td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <h2>No data </h2>
}

</html>

