@model RazorApplication.Models.Product

@{
    ViewBag.Title = "NameAndPrice";
    //Layout = "~/Views/BasicLayout.cshtml";
}

<h2>NameAndPrice</h2>
The product name is @Model.Name and it costs $@Model.price

